---
layout: page
title: Blog
section1: Summaries
section2: Miscellaneous Thoughts
---
<section class="list">
  {% if site.paginate %}
  	{% for post in paginator.posts %}
  		{% if post.type == 'intro' %}
  			{% if post.hidden != true %}
  				{% include blog-post.html %}
  			{% endif %}
  		{% endif %}
  	{% endfor %}

    <h2>{{ page.section1 }}</h2>
    {% for post in paginator.posts %}
  		{% if post.type == 'summary' %}
  			{% if post.hidden != true %}
  				{% include blog-post.html %}
  			{% endif %}
  		{% endif %}
  	{% endfor %}

    <h2>{{ page.section2 }}</h2>
    {% for post in paginator.posts %}
  		{% if post.type == 'thoughts' %}
  			{% if post.hidden != true %}
  				{% include blog-post.html %}
  			{% endif %}
  		{% endif %}
  	{% endfor %}

  	{% include pagination.html%}
  {% else %}
    {% for post in site.posts %}
      {% if post.type == 'intro' %}
        {% if post.hidden != true %}
          {% include blog-post.html %}
        {% endif %}
      {% endif %}
    {% endfor %}

    <h2>{{ page.section1 }}</h2>
    {% for post in site.posts %}
      {% if post.type == 'summary' %}
        {% if post.hidden != true %}
          {% include blog-post.html %}
        {% endif %}
      {% endif %}
    {% endfor %}

    <h2>{{ page.section2 }}</h2>
    {% for post in site.posts %}
      {% if post.type == 'thoughts' %}
        {% if post.hidden != true %}
          {% include blog-post.html %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
</section>
